
html {
  scroll-behavior: smooth;
}

#services {
  height: 100vh;
  background: #F4F4F4;
  padding-top: 80px;
  margin-bottom: 10px;
}

#prices {
  height: 500px;
  background: #F4F4F4;
  padding-top: 80px;
  margin-bottom: 10px;
}

#about {
  height: 500px;
  background: white;
  padding-top: 80px;
  margin-bottom: 10px;
}
