
html {
  scroll-behavior: smooth;
}

#services {
  background: #F4F4F4;
  padding-top: 80px;
  margin-bottom: 50px;
}

#prices {
  background: #F4F4F4;
  padding-top: 80px;
  margin-bottom: 50px;
}

#about {
  height: 700px;
  width: 480px;
  background: white;
  padding-top: 80px;
  margin-bottom: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 16px;
  color: black;
  opacity: .8;
}
#about #bio{
  padding-top: 10px;
}

#contact {
  height: 500px;
  background: white;
  padding-top: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
