<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-btn">
    <a href="#top" class="btn btn-treehouse btn-lg">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i> <%= Time.now.year %> Clem
  </div>
</div>
