<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "Wrapper.jpg" %>');">
  <div class="container">
    <h1><strong>Rédaction</strong> et <strong>Optimisation</strong> de <strong>contenus Web</strong></h1>
    <p></p>

  </div>
  <div class="text-center chevron">
    <h2>J'écris pour vous</h2>
    <a href="#"><i class="fas fa-chevron-down fa-5x pulse"></i></a>
  </div>
</div>

